In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#First we import all the csv files we need for the work and make a quick look at them
df_features = pd.read_csv('features.csv')
df_sample = pd.read_csv('sampleSubmission.csv')
df_stores = pd.read_csv('stores.csv')
df_test = pd.read_csv('test.csv')
df_train = pd.read_csv('train.csv')
df_stock_price = pd.read_csv('WMT.csv')

# First 5 rows,types of the columns and information of the null values for each of the data imported

### Features

In [3]:
#Head for features
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [4]:
df_features.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [5]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

## Sample

In [6]:
df_sample.head()

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0
2  1_1_2012-11-16             0
3  1_1_2012-11-23             0
4  1_1_2012-11-30             0

In [7]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 2 columns):
Id              115064 non-null object
Weekly_Sales    115064 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.8+ MB

In [8]:
df_sample.dtypes

Id              object
Weekly_Sales     int64
dtype: object

## Stores

In [9]:
df_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [10]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
Store    45 non-null int64
Type     45 non-null object
Size     45 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [11]:
df_stores.dtypes

Store     int64
Type     object
Size      int64
dtype: object

## Test

In [12]:
df_test.head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 4 columns):
Store        115064 non-null int64
Dept         115064 non-null int64
Date         115064 non-null object
IsHoliday    115064 non-null bool
dtypes: bool(1), int64(2), object(1)
memory usage: 2.7+ MB

In [14]:
df_test.dtypes

Store         int64
Dept          int64
Date         object
IsHoliday      bool
dtype: object

## Train

In [15]:
df_train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null object
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [17]:
df_train.dtypes

Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
dtype: object

## Stock Price

In [18]:
df_stock_price.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2010-02-05  52.770000  53.529999  52.759998  53.450001  41.123001  15545800
1  2010-02-08  53.380001  53.540001  52.919998  52.930000  40.722912  10505900
2  2010-02-09  53.209999  53.619999  52.820000  53.250000  40.969128  10825000
3  2010-02-10  53.270000  53.500000  52.959999  53.240002  40.961433   9408400
4  2010-02-11  53.130001  53.450001  52.910000  53.080002  40.838329  11579600

In [19]:
df_stock_price = df_stock_price[['Date', 'Close']]

In [20]:
df_stock_price.head()

         Date      Close
0  2010-02-05  53.450001
1  2010-02-08  52.930000
2  2010-02-09  53.250000
3  2010-02-10  53.240002
4  2010-02-11  53.080002

In [21]:
df_stock_price.dtypes

Date      object
Close    float64
dtype: object

# Convert all the date's columns to datetime for future use

In [22]:
df_features['Date'] =  pd.to_datetime(df_features['Date'])
df_train['Date'] = pd.to_datetime(df_train['Date'])
df_test['Date'] = pd.to_datetime(df_test['Date'])
df_stock_price['Date'] = pd.to_datetime(df_stock_price['Date'])

# Start the merging of all the data frames to have all the information in one big data frame

#### By looking the data, we are taking off two data frames since there is no concordance with the dates of the other data frames. Columns we are disregarding are test and store

In [23]:
'''We start merging the features data frame with the train dataframe. Left Join to include values, and on the date 
column as the concordance column between the two data frames'''
df_walmart = pd.merge(df_features, df_train, on = 'Date', how = 'left')

In [24]:
'''We continued merging the df_walmart data frame with the test dataframe. Left Join to include values and the
date column  as the concordance column between the two data frames'''
df_walmart = pd.merge(df_walmart, df_test, on = 'Date', how = 'left')

In [25]:
'''We continued merging the df_walmart data frame with the stock price dataframe. Left Join to include values and the
date column  as the concordance column between the two data frames'''
df_walmart = pd.merge(df_walmart,df_stock_price,on = 'Date', how = 'left')

In [26]:
#We want to remove some duplicates. Identified the IsHoliday colum as a duplicate column
df_walmart = df_walmart.drop(columns = ['IsHoliday_y', 'IsHoliday'])

In [27]:
#See the first 5 rows of the new data frame
df_walmart.head()

,Store_x,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Store_y,Dept_x,Weekly_Sales,Store,Dept_y,Close
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1.0,1.0,24924.50,NaN,NaN,53.450001
1,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1.0,2.0,50605.27,NaN,NaN,53.450001
2,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1.0,3.0,13740.12,NaN,NaN,53.450001
3,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1.0,4.0,39954.04,NaN,NaN,53.450001
4,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1.0,5.0,32229.38,NaN,NaN,53.450001

In [28]:
#See the data frame types to confirm all is in order
df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24148530 entries, 0 to 24148529
Data columns (total 18 columns):
Store_x         int64
Date            datetime64[ns]
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday_x     bool
Store_y         float64
Dept_x          float64
Weekly_Sales    float64
Store           float64
Dept_y          float64
Close           float64
dtypes: bool(1), datetime64[ns](1), float64(15), int64(1)
memory usage: 3.3 GB

In [29]:
#Check Null values in order to fill them out
df_walmart.isna().sum()

Store_x                0
Date                   0
Temperature            0
Fuel_Price             0
MarkDown1       12209725
MarkDown2       15499528
MarkDown3       13446429
MarkDown4       13891292
MarkDown5       12156210
CPI              1717290
Unemployment     1717290
IsHoliday_x            0
Store_y          5177880
Dept_x           5177880
Weekly_Sales     5177880
Store           18970650
Dept_y          18970650
Close             665235
dtype: int64

# Fill of the NaN Values

In [30]:
'''Replace the NaN Values
Close price: It should have been a weekend day where the stock is not traded. Replace NaN values with the value
of the days before
Unemployment: Replace this value with the mean
Weekly Sales
CPI: Fill NaN values with the mean
Weekly_Sales = Fill NaN values with the mean
Store_y, Dept_y, Store, and Dept_x can be deleted from the data Frame
Markdown : Replace NaN with cero (no discounts)
'''

'Replace the NaN Values\nClose price: It should have been a weekend day where the stock is not traded. Replace NaN values with the value\nof the days before\nUnemployment: Replace this value with the mean\nWeekly Sales\nCPI: Fill NaN values with the mean\nWeekly_Sales = Fill NaN values with the mean\nStore_y, Dept_y, Store, and Dept_x can be deleted from the data Frame\nMarkdown : Replace NaN with cero (no discounts)\n'

In [31]:
#Extract columns I am interested of the data frame
df_walmart_sales = df_walmart[['Date','Temperature','Fuel_Price','MarkDown1', 'MarkDown2', 'MarkDown3', 
                               'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'IsHoliday_x', 'Weekly_Sales',
                              'Close']]

In [32]:
#Replace Markdown NaN values
df_walmart_sales['MarkDown1'].fillna(0, inplace = True)
df_walmart_sales['MarkDown2'].fillna(0, inplace = True)
df_walmart_sales['MarkDown3'].fillna(0, inplace = True)
df_walmart_sales['MarkDown4'].fillna(0, inplace = True)
df_walmart_sales['MarkDown5'].fillna(0, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [33]:
#Replace Close price using backfill methid
df_walmart_sales['Close'].fillna(method = 'bfill', inplace = True)

In [34]:
#Replace Unemployment with the mean
df_walmart_sales['Unemployment'].fillna(df_walmart_sales['Unemployment'].mean(), inplace = True)

In [35]:
# Fill CPA values with the mean
df_walmart_sales['CPI'].fillna(df_walmart_sales['CPI'].mean(), inplace = True)

In [36]:
#Fill Weekly Sales with the mean
df_walmart_sales['Weekly_Sales'].fillna(df_walmart_sales['Weekly_Sales'].mean(), inplace = True)

In [37]:
#Check the fill of the NaN values went through
df_walmart_sales.isna().sum()

Date            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday_x     0
Weekly_Sales    0
Close           0
dtype: int64

In [38]:
#Rename some columns
df_walmart_sales.rename(columns = {'IsHoliday_x':'IsHoliday'}, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [39]:
#See the data frame with the extracted columns, and the rename
df_walmart_sales.head()

,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Weekly_Sales,Close
0,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,24924.50,53.450001
1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,50605.27,53.450001
2,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,13740.12,53.450001
3,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,39954.04,53.450001
4,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,32229.38,53.450001

In [40]:
#Save the columns names
columns_list = df_walmart_sales.columns

# Grouped of the data frame to have it more readable and easier to work on

In [41]:
'''We saw the date columm for some reason during the merge, it has repetition on the values, therefore we are able to
group the data in dates. In addition, since all values are repetions, we are also able to aggregate them as mean
and final results would be summarized and not affected'''

'We saw the date columm for some reason during the merge, it has repetition on the values, therefore we are able to\ngroup the data in dates. In addition, since all values are repetions, we are also able to aggregate them as mean\nand final results would be summarized and not affected'

In [42]:
df_walmart_sales_grouped = df_walmart_sales.groupby('Date').agg('mean')

In [43]:
df_walmart_sales_grouped.head()

,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Weekly_Sales,Close
Date,,,,,,,,,,,,
2010-02-05,34.037333,2.717844,0.0,0.0,0.0,0.0,0.0,167.730885,8.619311,False,16836.121997,53.450001
2010-02-12,34.151333,2.694022,0.0,0.0,0.0,0.0,0.0,167.825608,8.619311,True,16352.056032,52.900002
2010-02-19,37.719778,2.672067,0.0,0.0,0.0,0.0,0.0,167.871686,8.619311,False,16216.658979,53.490002
2010-02-26,39.243556,2.683933,0.0,0.0,0.0,0.0,0.0,167.909657,8.619311,False,14899.549688,54.070000
2010-03-05,42.917333,2.731200,0.0,0.0,0.0,0.0,0.0,167.947628,8.619311,False,15921.015727,54.139999

In [44]:
df_walmart_sales_grouped.shape

(182, 12)

In [45]:
df_walmart_sales_grouped.tail()

,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Weekly_Sales,Close
Date,,,,,,,,,,,,
2013-06-28,79.871111,3.629400,4905.673333,630.564444,13.838000,3150.280889,3771.952889,172.476337,7.824498,False,15981.258123,74.489998
2013-07-05,79.655778,3.583533,8197.936444,1802.939333,598.960444,7243.541556,2389.641333,172.476337,7.824498,False,15981.258123,75.209999
2013-07-12,80.798667,3.568111,3962.768444,1063.851333,68.260889,1909.259778,2891.560222,172.476337,7.824498,False,15981.258123,77.629997
2013-07-19,79.268667,3.683444,2607.699333,781.046222,126.873778,873.810444,1893.073333,172.476337,7.824498,False,15981.258123,78.080002
2013-07-26,78.037333,3.734444,876.371556,671.725111,32.939333,153.120667,1623.047111,172.476337,7.824498,False,15981.258123,78.000000

# Final data frame

In [47]:
pd.set_option('Max_rows', None)
df_walmart_sales_grouped

,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Weekly_Sales,Close
Date,,,,,,,,,,,,
2010-02-05,34.037333,2.717844,0.000000,0.000000,0.000000,0.000000,0.000000,167.730885,8.619311,False,16836.121997,53.450001
2010-02-12,34.151333,2.694022,0.000000,0.000000,0.000000,0.000000,0.000000,167.825608,8.619311,True,16352.056032,52.900002
2010-02-19,37.719778,2.672067,0.000000,0.000000,0.000000,0.000000,0.000000,167.871686,8.619311,False,16216.658979,53.490002
2010-02-26,39.243556,2.683933,0.000000,0.000000,0.000000,0.000000,0.000000,167.909657,8.619311,False,14899.549688,54.070000
2010-03-05,42.917333,2.731200,0.000000,0.000000,0.000000,0.000000,0.000000,167.947628,8.619311,False,15921.015727,54.139999
2010-03-12,47.432444,2.774422,0.000000,0.000000,0.000000,0.000000,0.000000,167.985598,8.619311,False,15546.850545,53.900002
2010-03-19,49.954222,2.817089,0.000000,0.000000,0.000000,0.000000,0.000000,167.930427,8.619311,False,15286.773578,55.340000
2010-03-26,48.473556,2.824111,0.000000,0.000000,0.000000,0.000000,0.000000,167.859731,8.619311,False,14975.894486,55.509998
2010-04-02,53.120889,2.827333,0.000000,0.000000,0.000000,0.000000,0.000000,167.789036,8.497711,False,17098.620298,55.070000
2010-04-09,58.420667,2.853089,0.000000,0.000000,0.000000,0.000000,0.000000,167.718340,8.497711,False,16050.589780,55.070000
2010-04-16,58.021111,2.889000,0.000000,0.000000,0.000000,0.000000,0.000000,167.663041,8.497711,False,15347.713003,54.110001
2010-04-23,57.089556,2.881733,0.000000,0.000000,0.000000,0.000000,0.000000,167.628269,8.497711,False,15252.114749,54.529999
2010-04-30,57.854667,2.891533,0.000000,0.000000,0.000000,0.000000,0.000000,167.593497,8.497711,False,14967.509147,53.639999
2010-05-07,64.125111,2.931867,0.000000,0.000000,0.000000,0.000000,0.000000,167.558725,8.497711,False,16542.716071,52.400002
2010-05-14,60.609556,2.947000,0.000000,0.000000,0.000000,0.000000,0.000000,167.546485,8.497711,False,15513.374470,52.119999
2010-05-21,66.262667,2.924111,0.000000,0.000000,0.000000,0.000000,0.000000,167.669435,8.497711,False,15499.865359,51.369999
2010-05-28,70.460222,2.866422,0.000000,0.000000,0.000000,0.000000,0.000000,167.792386,8.497711,False,16428.449453,50.560001
2010-06-04,73.410889,2.808800,0.000000,0.000000,0.000000,0.000000,0.000000,167.915336,8.497711,False,17246.922034,50.400002
2010-06-11,74.537778,2.788733,0.000000,0.000000,0.000000,0.000000,0.000000,168.038287,8.497711,False,16440.889213,50.860001
2010-06-18,73.569333,2.763222,0.000000,0.000000,0.000000,0.000000,0.000000,168.049385,8.497711,False,16281.041446,51.549999
2010-06-25,78.788222,2.791267,0.000000,0.000000,0.000000,0.000000,0.000000,168.015743,8.497711,False,15978.414909,48.799999
2010-07-02,77.133333,2.793511,0.000000,0.000000,0.000000,0.000000,0.000000,167.982101,8.428578,False,16769.792424,48.000000
2010-07-09,78.912444,2.783756,0.000000,0.000000,0.000000,0.000000,0.000000,167.948459,8.428578,False,16500.010117,49.430000
2010-07-16,80.408444,2.762489,0.000000,0.000000,0.000000,0.000000,0.000000,167.958225,8.428578,False,15940.675484,49.669998
2010-07-23,81.131111,2.763556,0.000000,0.000000,0.000000,0.000000,0.000000,168.025868,8.428578,False,15357.115672,51.669998
2010-07-30,79.152222,2.766667,0.000000,0.000000,0.000000,0.000000,0.000000,168.093511,8.428578,False,15300.090305,51.189999
2010-08-06,79.995556,2.777222,0.000000,0.000000,0.000000,0.000000,0.000000,168.161155,8.428578,False,16576.684704,51.790001
2010-08-13,79.482444,2.807378,0.000000,0.000000,0.000000,0.000000,0.000000,168.228798,8.428578,False,16044.343374,50.400002
2010-08-20,79.463556,2.784200,0.000000,0.000000,0.000000,0.000000,0.000000,168.228796,8.428578,False,16222.320896,50.220001
2010-08-27,76.737333,2.763200,0.000000,0.000000,0.000000,0.000000,0.000000,168.228795,8.428578,False,15841.870407,51.000000
2010-09-03,76.442222,2.742711,0.000000,0.000000,0.000000,0.000000,0.000000,168.228793,8.428578,False,16129.274645,52.040001
2010-09-10,72.449778,2.721356,0.000000,0.000000,0.000000,0.000000,0.000000,168.228792,8.428578,True,15537.758883,51.970001
2010-09-17,71.233778,2.735311,0.000000,0.000000,0.000000,0.000000,0.000000,168.256773,8.428578,False,14708.339539,53.009998
2010-09-24,71.079556,2.738689,0.000000,0.000000,0.000000,0.000000,0.000000,168.305739,8.428578,False,14105.905324,54.080002
2010-10-01,69.868000,2.734333,0.000000,0.000000,0.000000,0.000000,0.000000,168.354706,8.475289,False,14391.780535,53.360001
2010-10-08,61.734000,2.758867,0.000000,0.000000,0.000000,0.000000,0.000000,168.403673,8.475289,False,15362.048443,54.410000
2010-10-15,60.890889,2.835644,0.000000,0.000000,0.000000,0.000000,0.000000,168.453020,8.475289,False,14726.782747,53.349998
2010-10-22,59.130889,2.850978,0.000000,0.000000,0.000000,0.000000,0.000000,168.503317,8.475289,False,14678.483136,54.060001
2010-10-29,59.185778,2.856578,0.000000,0.000000,0.000000,0.000000,0.000000,168.553614,8.475289,False,14871.361170,54.169998
2010-11-05,52.682889,2.842911,0.000000,0.000000,0.000000,0.000000,0.000000,168.603911,8.475289,False,15625.249792,55.200001
2010-11-12,50.399778,2.872911,0.000000,0.000000,0.000000,0.000000,0.000000,168.654208,8.475289,False,15753.005748,54.130001
2010-11-19,48.142444,2.911311,0.000000,0.000000,0.000000,0.000000,0.000000,168.606109,8.475289,False,15475.166043,54.389999
2010-11-26,47.889556,2.917956,0.000000,0.000000,0.000000,0.000000,0.000000,168.541611,8.475289,True,22403.336705,53.740002
2010-12-03,41.590889,2.889111,0.000000,0.000000,0.000000,0.000000,0.000000,168.477112,8.475289,False,16924.051502,54.619999
2010-12-10,39.165111,2.976378,0.000000,0.000000,0.000000,0.000000,0.000000,168.412614,8.475289,False,18882.893619,54.279999
2010-12-17,40.351778,3.005444,0.000000,0.000000,0.000000,0.000000,0.000000,168.415482,8.475289,False,20892.463619,54.410000
2010-12-24,41.177333,3.021333,0.000000,0.000000,0.000000,0.000000,0.000000,168.468875,8.475289,False,27378.692693,53.930000
2010-12-31,36.782667,3.048222,0.000000,0.000000,0.000000,0.000000,0.000000,168.522268,8.475289,True,13738.538566,53.930000
2011-01-07,35.272667,3.089244,0.000000,0.000000,0.000000,0.000000,0.000000,168.575662,8.291200,False,14599.244973,54.080002
2011-01-14,30.689556,3.105000,0.000000,0.000000,0.000000,0.000000,0.000000,168.651733,8.291200,False,13891.283484,54.810001
2011-01-21,37.522222,3.126889,0.000000,0.000000,0.000000,0.000000,0.000000,168.863870,8.291200,False,13932.367385,55.730000
2011-01-28,34.064444,3.134689,0.000000,0.000000,0.000000,0.000000,0.000000,169.076008,8.291200,False,13566.239462,56.700001
2011-02-04,30.480889,3.134822,0.000000,0.000000,0.000000,0.000000,0.000000,169.288145,8.291200,False,15773.448776,56.029999
2011-02-11,32.159111,3.162400,0.000000,0.000000,0.000000,0.000000,0.000000,169.500283,8.291200,True,16111.706191,55.689999
2011-02-18,45.883778,3.182578,0.000000,0.000000,0.000000,0.000000,0.000000,169.693224,8.291200,False,16541.991212,55.380001
2011-02-25,43.155333,3.212200,0.000000,0.000000,0.000000,0.000000,0.000000,169.878487,8.291200,False,15049.747558,51.750000
2011-03-04,44.775333,3.395400,0.000000,0.000000,0.000000,0.000000,0.000000,170.063750,8.291200,False,15882.557045,52.070000
2011-03-11,47.099556,3.537422,0.000000,0.000000,0.000000,0.000000,0.000000,170.249013,8.291200,False,15056.450540,52.590000
2011-03-18,52.976444,3.578867,0.000000,0.000000,0.000000,0.000000,0.000000,170.413386,8.291200,False,15216.115961,51.520000
2011-03-25,51.608667,3.576244,0.000000,0.000000,0.000000,0.000000,0.000000,170.569402,8.291200,False,14573.827050,52.349998
2011-04-01,48.736444,3.602356,0.000000,0.000000,0.000000,0.000000,0.000000,170.725418,8.150133,False,14726.869261,52.130001
2011-04-08,55.627333,3.695444,0.000000,0.000000,0.000000,0.000000,0.000000,170.881434,8.150133,False,15634.571312,52.540001
2011-04-15,56.953333,3.794289,0.000000,0.000000,0.000000,0.000000,0.000000,171.023878,8.150133,False,15229.708141,53.549999
2011-04-22,59.205333,3.856556,0.000000,0.000000,0.000000,0.000000,0.000000,171.132391,8.150133,False,16472.653827,54.980000
2011-04-29,62.139778,3.901156,0.000000,0.000000,0.000000,0.000000,0.000000,171.240903,8.150133,False,14745.946064,54.980000
2011-05-06,58.175111,3.980644,0.000000,0.000000,0.000000,0.000000,0.000000,171.349416,8.150133,False,15757.215296,55.020000
2011-05-13,65.010667,3.990756,0.000000,0.000000,0.000000,0.000000,0.000000,171.457929,8.150133,False,15317.204186,55.720001
2011-05-20,62.415556,3.984533,0.000000,0.000000,0.000000,0.000000,0.000000,171.386189,8.150133,False,15002.247279,55.290001
2011-05-27,69.532222,3.901578,0.000000,0.000000,0.000000,0.000000,0.000000,171.314450,8.150133,False,15390.233449,54.700001
2011-06-03,73.374222,3.836578,0.000000,0.000000,0.000000,0.000000,0.000000,171.242711,8.150133,False,16691.305332,53.660000
2011-06-10,74.801778,3.801244,0.000000,0.000000,0.000000,0.000000,0.000000,171.170971,8.150133,False,16302.918830,52.720001
2011-06-17,74.875111,3.770378,0.000000,0.000000,0.000000,0.000000,0.000000,171.197026,8.150133,False,16111.226407,52.820000
2011-06-24,76.244222,3.728222,0.000000,0.000000,0.000000,0.000000,0.000000,171.296427,8.150133,False,15649.418342,52.410000
2011-07-01,78.759111,3.675978,0.000000,0.000000,0.000000,0.000000,0.000000,171.395827,8.097489,False,16232.862334,53.509998
2011-07-08,79.954222,3.627644,0.000000,0.000000,0.000000,0.000000,0.000000,171.495228,8.097489,False,16328.646803,54.080002
2011-07-15,79.967111,3.674400,0.000000,0.000000,0.000000,0.000000,0.000000,171.586446,8.097489,False,15566.323502,53.630001
2011-07-22,82.176444,3.724044,0.000000,0.000000,0.000000,0.000000,0.000000,171.657207,8.097489,False,15526.204180,54.520000
2011-07-29,81.208000,3.744044,0.000000,0.000000,0.000000,0.000000,0.000000,171.727968,8.097489,False,14965.150490,52.709999
2011-08-05,81.366667,3.757311,0.000000,0.000000,0.000000,0.000000,0.000000,171.798729,8.097489,False,16393.126313,50.849998
2011-08-12,80.460000,3.723667,0.000000,0.000000,0.000000,0.000000,0.000000,171.869490,8.097489,False,15774.068626,49.750000
2011-08-19,79.156667,3.666689,0.000000,0.000000,0.000000,0.000000,0.000000,171.927572,8.097489,False,15888.028317,52.299999
2011-08-26,80.162000,3.636622,0.000000,0.000000,0.000000,0.000000,0.000000,171.983541,8.097489,False,16068.095036,52.900002
2011-09-02,79.296222,3.651467,0.000000,0.000000,0.000000,0.000000,0.000000,172.039510,8.097489,False,15387.122167,52.029999
2011-09-09,73.447556,3.681956,0.000000,0.000000,0.000000,0.000000,0.000000,172.095478,8.097489,True,15809.069483,51.360001
2011-09-16,71.044222,3.680578,0.000000,0.000000,0.000000,0.000000,0.000000,172.202844,8.097489,False,14865.566897,52.650002
2011-09-23,68.671333,3.636133,0.000000,0.000000,0.000000,0.000000,0.000000,172.378739,8.097489,False,14446.431089,50.799999
2011-09-30,72.788222,3.579644,0.000000,0.000000,0.000000,0.000000,0.000000,172.554634,8.097489,False,14298.824402,51.900002
2011-10-07,63.036444,3.519844,0.000000,0.000000,0.000000,0.000000,0.000000,172.730528,7.804222,False,15960.678959,53.700001
2011-10-14,63.019556,3.488644,0.000000,0.000000,0.000000,0.000000,0.000000,172.892304,7.804222,False,15062.736015,55.459999
2011-10-21,60.895556,3.545311,0.000000,0.000000,0.000000,0.000000,0.000000,172.969362,7.804222,False,15521.325691,56.919998
2011-10-28,56.468889,3.541022,0.000000,0.000000,0.000000,0.000000,0.000000,173.046419,7.804222,False,15470.924781,57.150002
2011-11-04,49.200000,3.522044,0.000000,0.000000,0.000000,0.000000,0.000000,173.123477,7.804222,False,16471.071192,57.500000
2011-11-11,49.112444,3.488711,10732.220667,9031.857778,294.490889,3389.560444,4946.894444,173.200535,7.804222,False,16348.811046,59.200001
2011-11-18,52.191556,3.487400,5998.128000,636.062889,101.413556,688.646889,5649.076667,173.300470,7.804222,False,15683.546288,57.230000
2011-11-25,49.627556,3.434311,543.965778,162.973111,53340.132889,54.685778,1847.119556,173.409555,7.804222,True,22043.563476,56.889999
2011-12-02,45.922000,3.394200,4286.615778,72.302667,3358.608667,2538.648000,17675.522222,173.518640,7.804222,False,16496.511854,58.090000
2011-12-09,38.209111,3.361756,4388.049556,24.749778,318.995556,2184.358444,9253.281556,173.627726,7.804222,False,18458.853056,58.320000
2011-12-16,41.065556,3.333622,3011.328667,57.861111,689.649778,520.398667,3894.648667,173.743332,7.804222,False,19942.149333,58.270000
2011-12-23,39.611778,3.291978,1074.377333,52.826667,1062.524222,85.191333,3227.793333,173.867632,7.804222,False,25437.146122,59.990002
2011-12-30,37.926222,3.271067,3888.336444,39351.596444,152.645778,657.491778,2531.392667,173.991933,7.804222,True,15332.154858,59.759998
2012-01-06,41.133333,3.299400,4767.811111,21265.868889,113.446889,979.323778,4956.372222,174.116233,7.508333,False,15121.231736,59.000000
2012-01-13,39.690222,3.370644,3301.344667,9337.077556,70.490222,496.286444,3682.694889,174.240534,7.508333,False,14168.266514,59.540001
2012-01-20,39.741778,3.391800,2311.151333,3139.302889,68.853111,615.934444,2714.301333,174.318130,7.508333,False,14221.357405,61.009998
2012-01-27,42.726000,3.411556,1407.374667,1648.907556,68.661111,94.536222,2584.235556,174.395727,7.508333,False,13494.232612,60.709999
2012-02-03,44.804444,3.451689,36093.593556,2812.054889,142.414000,28590.957333,5950.383333,174.473324,7.508333,False,15480.553608,62.029999
2012-02-10,39.848000,3.500800,10759.190222,4305.208889,70.628667,8984.294667,5796.337778,174.550920,7.508333,True,16664.247891,61.900002
2012-02-17,40.203333,3.562511,10938.042667,7829.463333,17.352000,6171.067556,5774.032444,174.659056,7.508333,False,16693.401051,62.480000
2012-02-24,45.124000,3.620489,8901.846222,5580.347333,4.239111,2719.752444,5616.210444,174.790097,7.508333,False,15458.124475,58.790001
2012-03-02,45.486444,3.696022,15780.248667,1509.161778,26.942444,10788.406667,3434.762889,174.921137,7.508333,False,15672.586946,59.009998
2012-03-09,47.550889,3.752222,7887.293778,454.751111,5.555333,2859.094000,4564.636667,175.052178,7.508333,False,15965.182956,60.080002
2012-03-16,54.742222,3.827422,4914.377556,168.863111,3.526222,1990.854222,2626.838222,175.162382,7.508333,False,15823.719615,60.840000
2012-03-23,57.140222,3.868400,4461.361111,160.309556,3.424222,855.608444,2538.064000,175.244803,7.508333,False,15195.472627,60.750000
2012-03-30,57.528444,3.933556,7444.799556,109.139333,4.939556,1092.410889,3016.834889,175.327224,7.508333,False,15289.720371,61.200001
2012-04-06,57.002222,3.965200,7903.699333,9.174889,34.864000,2339.778889,4859.548444,175.409646,7.419533,False,17935.741157,59.770000
2012-04-13,58.300667,3.997778,4751.903111,4799.062889,18.488889,1297.556889,2436.204222,175.492067,7.419533,False,15663.171451,59.770000
2012-04-20,61.355556,3.984289,5125.446222,2454.545556,21.032444,650.360222,3268.008889,175.525642,7.419533,False,15150.430178,62.450001
2012-04-27,62.776222,3.950911,2866.435111,134.847333,22.585778,157.586667,3056.750667,175.559217,7.419533,False,14799.187167,59.029999
2012-05-04,64.676000,3.906756,10984.349778,33.022222,84.190889,3580.609333,3065.309778,175.592791,7.419533,False,15947.275103,58.700001
2012-05-11,64.838000,3.869689,9467.281111,8.266667,55.241556,1962.270667,2868.742222,175.626366,7.419533,False,15784.015806,59.419998
2012-05-18,67.638222,3.834422,5877.671333,11.377778,45.783556,1173.624000,3291.698222,175.627335,7.419533,False,15856.396620,62.430000
2012-05-25,71.795556,3.788378,6363.006667,10.644444,405.710222,1215.742222,3445.381778,175.615262,7.419533,False,16284.414590,65.309998
2012-06-01,72.943778,3.750822,6928.030667,18.568889,102.203556,1553.341778,3021.185111,175.603188,7.419533,False,16405.589439,65.550003
2012-06-08,71.991333,3.689378,7021.018222,176.240000,66.485778,1223.242889,5519.442000,175.591115,7.419533,False,16774.044520,68.220001
2012-06-15,75.046444,3.644867,6349.936667,192.949333,46.603778,1736.250444,3882.383333,175.588202,7.419533,False,16377.574662,67.750000
2012-06-22,77.769111,3.590600,5884.983111,311.143556,10.224889,2250.845556,6889.174667,175.608191,7.419533,False,16098.711574,67.300003
2012-06-29,80.353111,3.522578,3858.092222,212.650222,0.006000,720.621333,4893.761556,175.628179,7.419533,False,15887.184494,69.720001
2012-07-06,80.054667,3.460844,6432.763556,171.233333,62.877556,3617.729111,6343.208222,175.648168,7.237333,False,17309.362337,71.360001
2012-07-13,78.938667,3.479756,5142.982889,87.773778,14.104667,2360.992222,6273.789333,175.668157,7.237333,False,15616.440413,73.180000
2012-07-20,78.776444,3.501267,3215.679778,103.994667,19.450444,1494.631333,5764.611111,175.673522,7.237333,False,15602.826372,72.250000
2012-07-27,79.844222,3.578400,4193.454667,126.297111,3.677333,4826.378444,3927.427333,175.678888,7.237333,False,15034.829516,74.519997
2012-08-03,80.336444,3.565267,19222.309778,110.901333,30.448000,10870.362667,3351.512000,175.684254,7.237333,False,16004.684719,74.550003
2012-08-10,81.580222,3.632911,10315.242667,93.024444,32.124000,3781.820667,3473.549556,175.689620,7.237333,False,16030.926967,73.680000
2012-08-17,79.432222,3.720511,3050.220667,59.944889,8.394889,1881.478444,2848.388889,175.743527,7.237333,False,16025.195279,71.989998
2012-08-24,74.592889,3.759644,4655.825111,55.921333,60.434667,3274.230889,4451.645111,175.833841,7.237333,False,16029.501216,72.110001
2012-08-31,77.793556,3.769067,14827.389556,39.741333,54.652667,5808.361333,3687.822889,175.924154,7.237333,False,15921.552812,72.599998
2012-09-07,78.038667,3.842556,8477.294667,24.830444,77.008889,1906.173333,3421.680889,176.014468,7.237333,True,16294.692957,73.820000
2012-09-14,70.238222,3.852044,7206.154000,6.186889,20.924000,1233.143111,5740.340667,176.110660,7.237333,False,14905.978648,74.500000
2012-09-21,67.924889,3.907911,6609.230444,53.182444,42.595778,1222.982889,6261.278222,176.242124,7.237333,False,14989.708385,74.449997
2012-09-28,68.754444,3.854578,4639.613556,17.927333,4.939556,1603.878444,4068.400222,176.373588,7.237333,False,14765.327279,73.800003
2012-10-05,65.973111,3.845222,4765.206889,0.000000,18.778222,2638.297333,3480.252444,176.505052,6.953711,False,15983.413747,75.129997
2012-10-12,58.342667,3.896733,1845.466000,0.000000,15.944000,525.700444,5339.082667,176.636515,6.953711,False,15427.596739,75.809998
2012-10-19,60.705333,3.880000,1811.763333,0.000000,12.588222,406.372000,3164.124444,176.652613,6.953711,False,15295.732397,75.620003
2012-10-26,61.051111,3.791489,4665.854667,64.672000,62.018889,596.600222,1822.235556,176.649482,6.953711,False,15391.725681,75.110001
2012-11-02,54.615556,3.676289,8289.979556,6571.306222,36.072889,3716.685333,2918.492889,176.646352,6.953711,False,15981.258123,72.769997
2012-11-09,52.718889,3.603111,7188.592000,5841.027556,49.339556,1395.701778,3295.318000,176.643222,6.953711,False,15981.258123,72.309998
2012-11-16,47.114444,3.549289,10216.026222,857.654667,76.764667,1056.087333,21940.824444,176.655161,6.953711,False,15981.258123,68.029999
2012-11-23,49.637778,3.526311,1236.118444,1.924222,68571.789778,396.132444,1449.486889,176.687192,6.953711,True,15981.258123,70.199997
2012-11-30,45.773333,3.502067,2912.441778,0.698667,5211.701778,176.562222,6031.299556,176.719224,6.953711,False,15981.258123,72.019997
2012-12-07,51.381333,3.477600,6598.046667,0.000000,285.056000,1690.118000,9691.217556,176.751255,6.953711,False,15981.258123,72.290001
2012-12-14,42.990000,3.421111,2844.034000,0.000000,100.492667,416.400222,3427.578667,176.794467,6.953711,False,15981.258123,68.750000
2012-12-21,43.672889,3.340000,3448.766444,57.409778,505.047111,124.555333,2201.095111,176.904767,6.953711,False,15981.258123,68.650002
2012-12-28,36.764222,3.332222,9102.420444,24850.703556,210.735333,105.722444,1729.330222,177.015067,6.953711,True,15981.258123,67.610001
2013-01-04,30.662222,3.338867,2458.511778,24395.166889,20.218444,79.213333,3154.334222,177.125367,6.876444,False,15981.258123,69.059998
2013-01-11,38.091556,3.377489,3374.089111,12718.571333,4.110000,290.971333,3105.464000,177.235667,6.876444,False,15981.258123,68.629997

# Column names

In [49]:
column_names_df = df_walmart_sales_grouped.columns

In [50]:
print(column_names_df)

Index(['Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'IsHoliday',
       'Weekly_Sales', 'Close'],
      dtype='object')